<%- include("header") -%>

<div class="aboutPage">
<h2>EarlyRiser Productivity ToDo App</h2>
<div class="aboutMini">
<p>In Development by <br /><a href="https://davidvaughan.es"> David Vaughan </a></p>
<p>Freelance Web Developer at <br> <a href="https://creative-wavelength.com">Creative Wavelength</a></p>
</div>

Languages used
<ul class="flexUL">
  <li>HTML</li>
  <li>CSS / CSS3</li>
  <li>Javascript</li>
</ul>

Server, Framework & Libraries used
<ul>
  <li><a href="https://www.freecodecamp.org/news/what-exactly-is-node-js-ae36e97449f5/" target="_blank">Node.js</a>
  <ul class="nestedList">
    <li>Express</li>
    <li>EJS</li>
    <li>bodyParser</li>
    <li>lodash</li>
    <li>Mongoose.js</li>
    </ul>
    </li>
</ul>
    Database used
    <ul class="nestedList">
      <li>MongoDB - NOSQL Database</li>
    </ul>

An expanded project take on the <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/"> ToDoApp Tutorial </a> <br />by Angela Yu of the <a href="https://www.appbrewery.co/">App Brewery</a> 



</div>
</div>
<%- include("footer") -%>
