
</div>
</div>
</body>
  <script type="text/javascript" src="js/modaladd.js"></script>
  <script type="text/javascript" src="js/star.js"></script>
  <script type="text/javascript" src="js/validation.js"></script>


<footer>
  <div><h4> <%= listTitle %> </h4>
  <h3><a href="/"> Home </a> - | -  <a href="/about">About</a></h3></div>
  v 0.3
 <form class="" action="/resetDB" method="post">
   <button type="submit" name="button">Reset Project</button>
 </form>
</footer>

</html>
