<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

</head>

<header>

</header>
<body>
<div class="headRise">

  <section id="sunRiseHead">
  <a href="/">
  <img id="sunrise" src="/images/sunrise.png" alt=""></a>
  </section>
</div>
